@import "./normalize.scss";
// @import './element-variables.scss';
@import "./layout.scss";
@import "./utilities.scss";

.card {
  padding: 16px;
  background-color: #fff;
}

.container {
  background-color: #fff;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 16px;
}

.page{
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}