$header-height: 64px;

#layout {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

#main {
  flex: 1;
}

// Sider
#aside {
  background-color: #001529;
  color: #fff;
  transition: width 0.2s ease-in-out;
  height: 100vh;
  overflow: hidden;
  .logo {
    height: $header-height;
    line-height: $header-height;
    background-color: #fff;
    color: #333;
    display: flex;
    .icon {
      text-align: center;
      width: 64px;
    }
  }
  .menu-scrollbar {
    height: calc(100vh - 64px);
  }
  .el-menu {
    border-right: none;
    transition: width 0.2s;
    &:not(.el-menu--collapse) {
      width: 200px;
    }
  }
}

#header {
  height: $header-height;
  line-height: $header-height;
  box-shadow: 0 2px 8px #f0f1f2;
  padding: 0;
}
#trigger {
  font-size: 20px;
  cursor: pointer;
  width: 64px;
  height: 64px;
  text-align: center;
}
#trigger.active .svg-icon{
  transform: rotate(180deg);
}
