$header-height: 64px;
$menu-width: 200px;

#layout {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

#main {
  flex: 1;
}

#content {
  padding: 16px;
  height: calc(100vh - 96px);
  overflow: auto;
  background-color: #f0f2f5;
}

// Sider
#aside {
  background-color: #001529;
  color: #fff;
  transition: width 0.2s ease-in-out;
  height: 100vh;
  overflow: hidden;
  .logo {
    height: $header-height;
    line-height: $header-height;
    background-color: #001529;
    color: #fff;
    width: $menu-width;
    overflow: hidden;
    display: flex;
    .icon {
      text-align: center;
      width: 64px;
      padding: 7px 0;
      cursor: pointer;
    }
    .title {
      text-align: center;
      flex: 1;
    }
  }
  .menu-scrollbar {
    height: calc(100vh - 64px);
    overflow-x: hidden !important;
  }
  .el-scrollbar__bar.is-horizontal {
    display: none;
  }
  .el-menu {
    border-right: none;
    transition: width 0.2s;
    .menu-icon {
      font-size: 16px;
      margin-right: 28px;
    }
    &:not(.el-menu--collapse) {
      width: $menu-width;
    }
  }
}

#header {
  height: $header-height;
  line-height: $header-height;
  box-shadow: 0 2px 8px #f0f1f2;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .block {
    cursor: pointer;
    height: 100%;
    &:hover {
      background-color: #00000006;
    }
  }
}
#avatar {
  margin:0 20px;
}
#trigger {
  font-size: 20px;
  cursor: pointer;
  width: 64px;
  height: 64px;
  text-align: center;
}
#trigger.active .svg-icon {
  transform: rotate(180deg);
}
